# Dependencias
node_modules/
vendor/

# Variables de entorno
.env
.env.local
.env.*.local

# Builds
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Cache
.cache/
.parcel-cache/